
#document{
  
  
  align-items: center;
  justify-content: center;

background-color: aliceblue;
}


#input-box{
  box-shadow: 5px 10px #888888;
  background-color: aquamarine;
  width:400px;
  margin-left: 40%;
  margin-top: 30px;

}

#menu1,#menu3{
  height: 160px;
  text-align: center;
  font-weight: bolder;
 

}
#menu2{
  height: 160px;
  text-align: center;
  grid-template-rows: auto auto;
}

#container{
    
  margin: auto;
   display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    width: 300px;
    
}

#menu1,#menu2,#menu3{
    border-radius: 25px;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  background-color: aquamarine;
  position: relative;
  margin-bottom: 10px;
}
h1{
    text-align:center;
}
#selectionBar{
  border: #888888;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  background-color: aquamarine;
  position:relative;
  width: 300px;
 margin-left: 40%;
  margin-top: 40pt;

}


